clouds:
  {{ serverstack_cloud.region_name }}:
    type: openstack
    auth-types: [userpass]
    endpoint: {{ serverstack_cloud.auth.auth_url }}
    regions:
      {{ serverstack_cloud.region_name }}:
        endpoint: {{ serverstack_cloud.auth.auth_url }}