credentials:
    {{ serverstack_cloud.region_name }}:
        default-region: {{ serverstack_cloud.region_name }}
        {{ serverstack_cloud.auth.username }}:
            auth-type: userpass
            username: {{ serverstack_cloud.auth.username }}
            password: {{ serverstack_cloud.auth.password }}
            project-domain-name: {{ serverstack_cloud.auth.user_domain_name }}
            tenant-name: {{ serverstack_cloud.auth.username }}
            user-domain-name: {{ serverstack_cloud.auth.user_domain_name }}