clouds:
  {{ ps6_cloud.region_name }}:
    type: openstack
    auth-types: [userpass]
    endpoint: {{ ps6_cloud.auth.auth_url }}
    regions:
      {{ ps6_cloud.region_name }}:
        endpoint: {{ ps6_cloud.auth.auth_url }}
