credentials:
    {{ ps6_cloud.region_name }}:
        default-region: {{ ps6_cloud.region_name }}
        {{ ps6_cloud.auth.username }}:
            auth-type: userpass
            username: {{ ps6_cloud.auth.username }}
            password: {{ ps6_cloud.auth.password }}
            tenant-name: {{ ps6_cloud.auth.project_name }}
            project-domain-name: {{ ps6_cloud.auth.project_domain_name }}
            user-domain-name: {{ ps6_cloud.auth.user_domain_name }}
