credentials:
    {{ serverstack_admin.region_name }}:
        default-region: {{ serverstack_admin.region_name }}
        {{ tenant_project_name }}:
            auth-type: userpass
            username: {{ tenant_project_name }}
            password: {{ tenant_password }}
            project-domain-name: default
            tenant-name: {{ tenant_project_name }}
            user-domain-name: default