production:
  apikey: {{ sqalab.auth.apikey }}
  env_name: {{ sqalab.auth.env_name }}
  jenkins_url: {{ sqalab.auth.jenkins_url }}
  smtp_from: {{ sqalab.auth.smtp_from }}
  smtp_pass: {{ sqalab.auth.smtp_pass }}
  smtp_port: {{ sqalab.auth.smtp_port }}
  smtp_server: {{ sqalab.auth.smtp_server }}
  smtp_user: {{ sqalab.auth.smtp_user }}
  username: {{ sqalab.auth.username }}
  uuid: {{ sqalab.auth.uuid }}
  weebl_url: {{ sqalab.auth.weebl_url }}
