production:
  apikey: {{ sqalab_environment.auth.apikey }}
  env_name: {{ sqalab_environment.auth.env_name }}
  jenkins_url: {{ sqalab_environment.auth.jenkins_url }}
  smtp_from: {{ sqalab_environment.auth.smtp_from }}
  smtp_pass: {{ sqalab_environment.auth.smtp_pass }}
  smtp_port: {{ sqalab_environment.auth.smtp_port }}
  smtp_server: {{ sqalab_environment.auth.smtp_server }}
  smtp_user: {{ sqalab_environment.auth.smtp_user }}
  username: {{ sqalab_environment.auth.username }}
  uuid: {{ sqalab_environment.auth.uuid }}
  weebl_url: {{ sqalab_environment.auth.weebl_url }}
